@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
    height: 90px;
    width: 90px;
}

#email, #password {
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #0746A5;
    color: white;
    margin: 10px;
}

#inicia-sesion{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #0746A5;
    color: white;
}

.opciones {
    color: black;
}

#separador{
    color: black;
}