@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 1rem;
  font-size: 0.875rem; /* text-sm */
}

h1 {
  font-size: 2.25rem; /* text-3xl */
  line-height: 2.5rem; /* leading-relaxed */
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.5rem; /* p-6 */
  text-align: center;
}

.logo {
  height: 4rem; /* h-16 */
  padding: 1rem; /* p-4 */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1rem #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 1rem #f7df1eaa);
}

.card {
  padding: 1.25rem; /* p-5 */
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 0.5rem; /* rounded-md */
  border: 1px solid transparent;
  padding: 0.5rem 1rem; /* py-2 px-4 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
